body {
    font-family: "Inter Tight", sans-serif;
    background-color: #FDEFD7;
}
header {
    font-size: 16px;
    line-height: 1.6;
    color: #030301;
    margin: 0;
    padding: 50px 0 70px 0;
}
.header-container {
    width: 45%;
    justify-content: center;
    margin: 0 auto;
}
.container {
    width: 45%;
}
.container-fluid {
    width: 85%;
}
.lead {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;
}
.blue {
    color: #116AB3;
}
.pink {
    color: #AD1A64;
}
.teal {
    color: #08706F;
}
.orange {
    color: #E94613;
}
.subhead {
    text-align: center;
    font-style: italic;
    font-weight: 300;
    margin: 30px 0 10px;
}
h1 {
    font-size: 4em;
    font-weight: 800;
    text-align: center;
}
.byline {
    text-align: center;
    margin-top: 20px;
    font-size: 0.85em;
    font-weight: 300;
}
.byline-publish {
    font-style: italic;
}
.section-container {
    width: 45%;
    justify-content: center;
    margin: 0 auto;
}
a {
    color: black;
}
.chart-hed {
    margin: 70px 0;
    font-size: 2em;
    font-weight: 500;
}
.space-above {
    margin-top: 50px;
}
.padding-top{
    padding-top: 50px
}
.padding-charts{
    padding: 0 40px 10px 40px;
}
.padding-footer{
    padding: 50px 0;
}
@media (max-width: 556px) {
    .container,
    .header-container,
    .section-container,
    .container-fluid {
        width: 95%;
    }
    h1 {
        font-size: 2.5em;
    }
    .chart-hed {
        font-size: 1.75em;
        padding: 1em 0;
    }
    .chart img {
        padding: 2em 0;
    }
}
@media (max-width: 950px) {
    .container,
    .header-container,
    .section-container,
    .container-fluid {
        width: 75%;
    }
    
    .chart p {
        padding-top: 1em;
        font-size: 1.25em;
        text-align: center;
    }
}