body,
header,
footer {
  font-family: "Roboto", sans-serif;
}
h1 {
    padding: 20px; 
    color: #065180;
    font-style:italic;
}
h2{
    padding: 20px 0 0 0;
    color:#1d2d44;
    font-style:italic;
}
h4 {
    font-style: italic;
    font-size: medium;
}
p{
    padding: 0 0 20px 20px;
}
.name {
    float: right;
}
li {
    list-style-type: none;
}
footer li{
    display: inline;
}
nav {
    margin: 0;
    overflow: hidden;
    background-color: #F0EBd8;
    color: #1d2d44;
}
nav li a {
    float: left;
    color: #1d2d44;
    text-align: center;
    padding: 15px 12px;
    text-decoration: none;
    font-style: italic;
}
nav li a:hover,
footer li a:hover {
    background-color: #bab5a3;
}
.headshot {
    padding: 80px;
    outline: 5px solid #3e5c76;
    outline-offset: -80px;
}
.pdf-fluid {
    width: 100%;
    height: 80vh;
    border: none;
}
footer {
    overflow: hidden;
    padding: 20px;
    background-color: #F0EBd8;
    color: #1d2d44;
    display: flex;
    justify-content: center;
}
footer li a {   
    color: #1d2d44;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-style: italic;
}
.card a {
    text-decoration: none;
    color: #1d2d44;
    margin: 5px;
}
.card h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.card {
    background-color: #F0EBd8;
    gap: 10px;
    margin: 10px 0;
    overflow: hidden;
}
.card:hover { 
    transform: scale(1.03); 
    transition: transform 0.3s;
}
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
